.weather-details-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.weather-details-modal {
    background: #fff;
    border-radius: 8px;
    width: 60vw;
    max-width: none;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    overflow: hidden;
}

.weather-details-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.weather-details-modal-header h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.weather-details-modal-header-left {
    display: flex;
    justify-content: space-between;
    align-items: end;

    > div {
        
        color: brown;
        font-weight: bold;
        font-size: 22px;
        margin-left: 0.8rem;
    }
}

.weather-details-modal-close-button {
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #aaa;
}

.weather-details-modal-view-selector {
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
}

.weather-details-modal-view-selector button {
    margin: 0 10px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
    font-size: 14px;
}

.weather-details {
    > p {
        font-size: 18px;

        span {
            font-weight: bold;
            margin-right: 10px;
        }
    }
}

.weather-details-modal-view-selector button:hover {
    background: #eee;
}

.weather-details-modal-view-selector button.active {
    background: #9F0013;
    color: #fff;
    font-weight: bold;
}

.weather-details-modal-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    padding: 5px 20px 60px 20px;
}

.weather-details {
    flex: 1;
    margin-right: 20px;
}

.weather-details p {
    margin: 5px 0;
}

.weather-details-modal-stats {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.weather-details-modal-stats > div {
    flex: 1 1 50%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.weather-details-modal-stats > div:last-child,
.weather-details-modal-stats > div:nth-last-child(2) {
    border-bottom: none;
}

.weather-details-modal-stats > div:nth-child(even) {
    border-right: none;
}

.weather-details-changes {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.weather-details-modal-date-picker {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}

.weather-details-modal-date-picker span {
    font-size: 18px;
    color: #000;
}

.weather-details-modal-date-picker input[type="date"] {
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #000;
}

.weather-details-modal-parameter-selector {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.weather-details-modal-parameter-selector button {
    flex: 1;
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    background: #f9f9f9;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
    font-size: 14px;
}

.weather-details-modal-parameter-selector button:hover {
    background: #9F0013;
    color: #fff;
    font-weight: bold;
}

.weather-details-modal-parameter-selector .active {
    background: #9F0013;
    color: #fff;
    font-weight: bold;
}

.weather-details-modal-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.weather-details-modal-chart-container {
    flex: 1;
    padding: 20px;
}

.weather-changes-table {
    flex: 1;
}

.weather-details-modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
